<div id="pickup" class="container">
  <div class="calendar">
    <p><input type="button" value="Choose a pickup time" id="datepicker" class="btn btn-lg btn-success"></p>    
  <button id="storepicker" class="btn btn-lg btn-success">Find a pickup location</button>    
</div>
</div>

