<div class="container exchange-container">
  <div "container exchange-options">
    <select id="exchange_dropdown" class="form-control">
      <option>Delivery</option>
      <option>Pickup</option>
    </select>
  </div>
  <%= render partial: "confirm" %>
  <%= render partial: "confirm_pickup" %>
  <%= render partial: "pickup" %>
  <%= render partial: "delivery" %>
</div>




