<div class="container">
  <div class="well">
  <h1 class="text-center vendors-title">All Vendors</h1>
  <ul class="vendors-list">
    <% @vendors.each do |vendor| %>
      <h4><%=link_to "#{vendor.name}", vendor.slug %></h4>
    <% end %>
  </ul>
  </div>
</div>
