$(document).ready(function() {
    setExchange(); 
    fadeFlashNotices(); 
    
    $('#exchange_dropdown').change(setExchange); // on change
        function setExchange() {       
        switch ($("#exchange_dropdown").val()) {
            case "Pickup" :
                $('#order_exchange').attr('value', "pickup");
                $("#pickup").show("slow", createPickupMap);
                $('#delivery').hide("slow");
                $('#confirm').hide("slow");
                $('#confirm_pickup').hide("slow");
                $('#pickup_date').datepicker();
                break;
            case "Delivery":
                $('#order_exchange').attr('value', "delivery");
                $("#pickup").hide("slow");
                $('#confirm').hide("slow");
                $('#confirm_pickup').hide("slow");
                $("#delivery").show("slow", mapCurrentLocation);
                break;
            }
    }; 

    function fadeFlashNotices() {
      $('#notice.flash').hide().delay(400).fadeIn(800).delay(4000).fadeOut(800);
    }

  // Create Map
    function createPickupMap() {          
       var pickup_date = $('#datepicker').val();
      
        var geocoder = new google.maps.Geocoder();
        var centerLatLng = new google.maps.LatLng(39.8282, -98.5795);
        var mapOptions = {
          center: centerLatLng,
          zoom: 4 
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var markerImg = '<%= asset_path('airlift-marker.svg') %>';
        locations = $('.vendor-info').data('locations')
        _.each(locations, function(location) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(location.latitude, location.longitude),
              map: map,
              title: location.name,
              icon: markerImg 
          });

          google.maps.event.addListener(marker, 'click', function() {
            //console.log($(this.value));
            //$('#pickup_location').val($(this).val());
            var infowindow = new google.maps.InfoWindow({
              content:'<h3>'+ location.name + '</h3>' +
                '<h5><b>Latitude:</b>' + location.latitude + '</h5>' +
                '<h5><b>Longitude:</b>' + location.longitude + '</h5>'
            });
            
          infowindow.open(map,marker);

          });
        });

        $('#pickup_location').on('change', function() {
          $('#order_pickup_location').val(this.value); 
        });
        
        $('#pickup_date').on('change', function() {
          $('#order_pickup_date').val(this.value); 
        });
        
        $('#confirm-pickup').click(function(){
          
          if ( $('#pickup_date').val() === "Click for Calendar") {
            alert("You must choose a pickup date!"); 
          }
          else {
            $('#pickup').hide("slow");
            $('#confirm').show("slow");
            $('#order-form').hide(1000);
          }
        });
    }
})
 
    function mapCurrentLocation() {          
      
      var output = document.getElementById("lat-long");
        output.innerHTML = "<h5>Locating . . .</h5>";

      navigator.geolocation.getCurrentPosition(function(position) {

        var initial_latitude = position.coords.latitude.toFixed(6);
        var initial_longitude = position.coords.longitude.toFixed(6);
        var userLatLng = new google.maps.LatLng(initial_latitude, initial_longitude);
        var mapOptions = {
          center: userLatLng,
          zoom: 14 
        };
        var map = new google.maps.Map(document.getElementById('delivery-map-canvas'), mapOptions);
        var yourLocImg = "<%= asset_path('you.svg') %>";
        var marker = new google.maps.Marker({
            position: userLatLng,
            map: map,
            draggable: true,
            title: "Drag this marker to your desired AirLift drop location.",
            icon: yourLocImg 
        });
        
        var infoContent = '<h2>AirDrop Coordinates:</h2>' +
          '<h5>Latitude: ' + initial_latitude + '</h5><br/>' +
          '<h5>Longitude: ' + initial_longitude +' </h5>';

        var infowindow = new google.maps.InfoWindow({
          content: infoContent
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
        
        output.innerHTML = '<h5>Latitude: ' + initial_latitude + '째 <br>Longitude: ' + initial_longitude + '째</h5>';

        // eventually you need this function to send ajax request on button click w/o needing marker to move first
        $('#confirm-delivery').click( function() {
          $('#order_latitude').attr('value', initial_latitude);
          $('#order_longitude').attr('value', initial_longitude);
          $("#delivery").hide("slow");
          $("#confirm").show("slow");
          $('#order-form').show(1200);
        });

        google.maps.event.addListener(marker, 'dragend', function(evt){
          map.panTo(marker.getPosition());
          
          document.getElementById('lat-long').innerHTML = '<h5>Latitude: ' +
            evt.latLng.lat().toFixed(6) + '째<br>Longitude: ' + evt.latLng.lng().toFixed(6) + '째</h5>';
            var marker_lat = evt.latLng.lat();
            var marker_lng = evt.latLng.lng();
            $('#order_latitude').attr('value', marker_lat);
            $('#order_longitude').attr('value', marker_lng);

            

            $('#confirm-delivery').click( function() {
                $("#delivery").hide("slow");
                $("#confirm").show("slow");
                $('#order-form').show(1200);
            });
        });
      });
    } // document.ready 

