$(document).ready(function() {
    setExchange(); 

    $('#order_exchange').change(setExchange); // on change

    function setExchange() {       
        switch ($("#order_exchange").val()) {
            case "Pickup" :
                $("#pickup").show("slow", createPickupMap);
                $('#delivery').hide("slow");
                $('#datepicker ').datepicker();
                break;
            case "Delivery":
                $("#pickup").hide("slow");
                $("#delivery").show("slow", mapCurrentLocation);
                $("#confirm-delivery").click();
                break;
            }
    }; 

  // Create Map
    function createPickupMap() {          
       var pickup_date = $('#datepicker').val();
      
        var geocoder = new google.maps.Geocoder();
        var myLatLng = new google.maps.LatLng(39.749759, -105.000132);
        var mapOptions = {
          center: myLatLng,
          zoom: 12 
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var infoContent = '<h2>AirLift Command Center</h2>' +
          '<h5><b>Address:</b>1550 Blake St. Denver, CO</h5>' +
          '<h5><b>Phone:</b> 1-800-AIRLIFT2</h5>';
        var markerImg = '<%= asset_path('airlift-marker.svg') %>';
        locations = $('.vendor-info').data('locations')
        _.each(locations, function(location) {
          debugger
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(location.latitude, location.longitude),
              map: map,
              title: location.name,
              icon: markerImg 
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });
        });

        var infowindow = new google.maps.InfoWindow({
          content: infoContent
        });
        $('#confirm-pickup').click(function(){
          $('#pickup').hide("slow");
          $('#confirm').show("slow");
        });
    }
      //google.maps.event.addDomListener(window, 'change', initialize);
})
 
    function mapCurrentLocation() {          
      
      var output = document.getElementById("lat-long");
        output.innerHTML = "<p>Locating…</p>";

      navigator.geolocation.getCurrentPosition(function(position) {

        var initial_latitude = position.coords.latitude.toFixed(6);
        var initial_longitude = position.coords.longitude.toFixed(6);
        var userLatLng = new google.maps.LatLng(initial_latitude, initial_longitude);
        var mapOptions = {
          center: userLatLng,
          zoom: 14 
        };
        var map = new google.maps.Map(document.getElementById('delivery-map-canvas'), mapOptions);
        var yourLocImg = "<%= asset_path('you.svg') %>";
        var marker = new google.maps.Marker({
            position: userLatLng,
            map: map,
            draggable: true,
            title: "Drag this marker to your desired AirLift drop location.",
            icon: yourLocImg 
        });
        
        var infoContent = '<h2>AirDrop Coordinates:</h2>' +
          '<span><b>Latitude:</b>' + initial_latitude + '</span><br/>' +
          '<span><b>Longitude:</b>' + initial_longitude +' </span>';

        var infowindow = new google.maps.InfoWindow({
          content: infoContent
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
        
        output.innerHTML = '<p>Latitude: ' + initial_latitude + '° <br>Longitude: ' + initial_longitude + '°</p>';

        // eventually you need this function to send ajax request on button click w/o needing marker to move first
        google.maps.event.addListener(marker, 'dragend', function(evt){
          map.panTo(marker.getPosition());
          
          document.getElementById('lat-long').innerHTML = '<p>Latitude: ' +
            evt.latLng.lat().toFixed(6) + '°<br>Longitude: ' + evt.latLng.lng().toFixed(6) + '°</p>';
            var marker_lat = evt.latLng.lat();
            var marker_lng = evt.latLng.lng();
            $('#order_latitude').attr('value', marker_lat);
            $('#order_longitude').attr('value', marker_lng);

            $('#confirm-delivery').click( function() {
              //$.post( '/orders/new', {latitude: marker_lat, longitude: marker_lng}); 
              $("#delivery").hide("slow");
              $("#confirm").show("slow");
          });
             
          
        });
        
      });

    } 
        //google.maps.event.addDomListener(window, 'change', mapCurrentLocation);

