//Navbar Styling//
.navbar-nav >.active > a:hover {
  background-color: #545454 !important;
  color: #FFFFFF !important;
}

.navbar-nav {
  color: white;
}

.navbar-wrapper .container {
  padding-top: 40px;
}

a {
  color: darkred !important;
  text-decoration: none;
}

#about {
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

.about-text {
  font-size: 150%;
  width: 80%;
  padding-bottom: 150px;
}

.review {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50%;
}

.star {
  height: 10px;
  width: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

//Custom Grey Buttons for use//
.btn-grey1 {
  background-color: #464646;
  color: #FFFFFF;
}

.btn-grey2 {
  background-color: #616161;
  color: #FFFFFF;
}

.btn-grey3 {
  background-color: #8B8B8B;
  color: #FFFFFF;
}

.btn-grey4 {
  background-color: #979797;
  color: #FFFFFF;
}

.btn-grey5 {
  background-color: #A2A2A2;
  color: #FFFFFF;
}

.btn-grey6 {
  background-color: #B9B9B9;
  color: #FFFFFF;
}

.btn-grey7 {
  background-color: #D1D1D1;
  color: #FFFFFF;
}

//Masonry Grid Styling//
#masonry-container {
  background: #FFF;
  padding: 2px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.grid-sizer { width: 20%; }

@media screen and (min-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 10%; }
}

@media screen and (max-width: 321px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 100%; }
}
.grid-item {
	text-align: center;
	width: 25%;
	margin: 10px;
	padding: 5px;
	border: solid;
  border-width: 3px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: #545454;
  @media screen and (min-width: 321px) {
    /* 10 columns for larger screens */
   width: 100%;
   border: none;
   margin-bottom: 1.5em;
  }
  @media screen and (min-width: 720px) {
    width: 25% !important;
    border: solid;
  }
}

.grid-item.on {
  display: initial;
}

.grid-item .item-description {
  width: 100%;
  height: 50px;
}

.grid-item:hover {
  opacity: 1 !important;
}

.not_active {
  background-color: #eed3d7 !important;
}

.grid-item img {
  max-width: 100%;
}

// Text Area Sizing//
.text-size {
  width: 35px;
}

//Category Menu Styling//
#categories ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#categories ul li {
  display: inline;
}

#categories ul li a {
  text-decoration:none;
  padding: .2em 1em;
  color: #fff;
  background-color: rgb(192, 192, 192);
}

#categories ul li a.pressed {
  background-color: rgb(84, 84, 84);
}

.grid-item.off {
  display: none;
}

.grid-item.on {
  display: initial;
}

// Contact Form Styling//
.hidden { display: none; }

/*flash*/

.flash#error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.flash#alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.flash#notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

#pdf {
  float: right;
  padding-right: 150px;
}

#pdf a {
  color: maroon;
}
div.container-fluid > div > div.col-md-8.text-center > div > img {
  border-radius: 4px;
}
a {
  color: darkred !important;
}
// Item Show Page
.item-show-container {
  border-radius: 4px;
  border: 4px solid rgba(0, 0, 0, .1);
  margin-bottom: 40px;
}
.item-show-container > #masonry-grid {
  padding: 20px 10%;
}
#masonry-grid > img {
  margin: 3em;
}
.vendors-list, .categories-list {
  text-align: center;
}
.vendors-title, .categories-title {
  margin: 25px 30%;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
}
.jumbotron {
    background-image: image-url("Airdrop_pallets.jpg");
    background-position: 0% 27%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.jumbotron h2{
  color: white !important;
}

#footer {
  background-color: lightgrey;
  color: white;
}
.create-store-btn {
  width: 80%;
  background-color: lighten(darkred, 5);
  color: white;
  margin-top: 30px;
}
//Pickup or Delivery Styles (order/new)
#pickup,
#delivery,
#confirm,
#confirm_pickup {
  display: none;
  width: 100%;
  color: darkred;
  text-align: center;
}
#delivery-map-container,
#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #delivery-map-canvas,
 #map-canvas {
   height: 384px;
   width: 100%;
   margin-bottom: 10%;
 }
 #exchange_dropdown {
   font-size: 30px;
   height: 50px;
 }
 .address-box {
   display: block;
   border: 3px solid rgba(darkred, .3);
   border-radius: 10px;
   margin: 5% 10%;
   padding: 20px 5px;
 }
 .address-box * {
   margin: 8px 0;
 }
 #pickup_location {
  font-size: 30px;
  height: 50px;
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }
 #pickup.container,
 #delivery.container {
  padding-top: 20px;
 }
 #map-container,
 #pickup_date,
 #confirm-pickup {
  margin-bottom: 20px;
 }
 #lat-long > p {
  font-size: 16px;
 }
 .pickup_options {
   margin: 0 36%;
 }
 .new_order {
   margin: 0 10%;
 }
 .new_order > input {
  margin: 10px;
 }
 #submit_order {
  margin-bottom: 30px;
 }
 #order-form {
  margin-bottom: 20px;
 }
 .order-form-with-address {
   border: 3px solid rgba(0, 0, 0, .2);
   border-radius: 10px;
   margin: 20px 0;
 }
 .table > tbody {
  text-align: left;
 }
